{% extends "./layout.html" %}


{% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<div class="container p-3 text-center w-25">
    <form class="form-signin" action="/login" method="POST">
        <img class="mb-4" src="{{ url_for('static', filename='img/user_ico.svg') }}" alt="" width="72" height="57">
        <div class="form-floating">
        <input type="text" class="form-control" id="username" name="username" placeholder="User" required>
        <label for="username">User</label>
        </div>
        <div class="form-floating mt-1">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        <label for="password">Password</label>
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <br>
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissable" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button class="w-100 btn btn-lg btn-primary mt-4" type="submit">Login</button>
    </form>
</div>
<p class="mt-5 mb-3 text-muted text-center page-footer">&copy; 2022</p>
{% endblock %}